@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans&family=Roboto&display=swap');

body{
    font-family: "Open Sans", "sans-serif";
    background: #f1f3f5;
    font-size: 14px;
    font-weight: normal;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-top: 15px;
}
.nav{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 15px;
}
a:visited, a{
    color: #fff;
    text-decoration: none;
}
.nav img{
    padding-left: 350px;
}
.navbtn{padding-right: 385px;}
.btn {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: #3e68ff;
    cursor: pointer;
}
.main{
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-top: 60px;
}
.main h1{
    text-align: center;
    font-size: 40px;
    padding: 30px 60px;
}
.yandex{
    display: flex;
    /* margin: auto; */
}
.bigplus{
    border: 3px solid transparent;
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #fa575e, #535df6) border-box;
    border-radius: 25px;
    border-image-slice: 3;
    padding: 14px;
    margin: auto;
    margin-right: 10px;
}
.byplus{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}
.bprice{
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #fa575e, #535df6) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bigplus ul, .plus ul{
    padding-left: 15px;
    font-size: 16px;
    margin-right: 55px;
}
.plus ul{
    padding-bottom: 45px;
}
.btn1{
    border: none;
    border-radius: 15px;
    padding: 20px 100px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(45deg, #fa575e, #535df6) border-box;
}
.btn2{
    border: none;
    border-radius: 15px;
    padding: 20px 100px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #3e68ff;
    background-color: #f0f3ff;
    cursor: pointer;
}
.next{
    color: #737373;
    text-align: center;
    font-size: 16px;
}
.plus{
    border: 1px solid gray;
    border-radius: 25px;
    margin: auto;
    margin-left: 10px;
    padding: 14px;
    /* padding-bottom: 35px; */
    /* padding-top: 35px; */
}
.yplus{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
}
.price{
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    padding: 0;
}
.kino{
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    display: block;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.kino p{
    text-align: left;
    margin-left: 35px;
}
.logo{margin-top: 25px; margin-left: 35px;}
.new{font-size: 40px; margin: 15px; margin-left: 35px;}
.choice{font-size: 20px;font-weight: 500; margin: 15px; margin-left: 35px;}
.imgkino img{
    border-radius: 15px;
    width: 200px;
}
.kivoava{
    display: flex;
    text-align: left;
    padding-top: 105px;
}